<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                @if (ViewBag.Login as string != null)
                {
                    <p><b>Current user:</b> @ViewBag.Login</p>
                    @Html.ActionLink("Logout", "Logout")
                }
                else
                {
                    <p>You are not authorized</p>
                }
            </div>
        </div>
    </nav>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2021 - Rss</p>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>