@using Phytime.ViewModels;
@model Phytime.ViewModels.TestModels.TestResultModelList;
@foreach(var result in Model.List)
{ 
    <p>
        @result.Number Your answer: @result.Answer <b>|</b> Right answer: @result.RightAnswer
    </p>
}
<b>Your result: @Model.Points / @Model.List.Count</b>
