@using System.ServiceModel.Syndication;
@using Phytime.Models;
@using Phytime.Helpers;
@model RssFeedViewModel;
@{
    ViewBag.Title = "RssFeed";
}
<a href="@Url.Action("ChangeOrder", "Home")">Change order</a>

@foreach (SyndicationItem item in Model.SyndicationItems)
{
    @*<h3>@item.Title.Text</h3>
        <p>@item.Summary.Text</p>*@
    <div>
        <a href="@item.Links[0].Uri.ToString()">
            @item.Title.Text
        </a>
        <span>@item.PublishDate.ToString("D")</span>
    </div>
    <div>
        <p>
            @item.Summary.Text
        </p>
    </div>
}

<div class="btn-group">
    @PagingHelper.PageLinks(Html, Model.PageInfo, x => Url.Action("RssFeed", new { page = x }))
</div>

<style>
    .selected {
        background-color: #0094ff;
    }
</style>
