@using System.ServiceModel.Syndication;
@using Phytime.Models;
@using Phytime.Helpers;
@model Feed;
@{
    ViewBag.Title = "RssFeed";
}
<div style="margin-bottom: 10px;">
    @if (ViewBag.Subscribed)
    {
        <a href="@Url.Action("Unsubscribe", "Feed", new { url = Model.Url })" class="btn btn-sm btn-danger">Unsubscribe</a>
    }
    else
    {
        <a href="@Url.Action("Subscribe", "Feed", new { url = Model.Url })" class="btn btn-sm btn-success">Subscribe</a>
    }
    <a href="@Url.Action("ChangeOrder", "Feed")" class="btn btn-sm btn-primary">Change order</a>
    <a href="@string.Format("../api/items/showangular/{0}", Model.Id)" target="_blank" class="btn btn-sm btn-primary">Show in angular</a>
</div>
@using (Html.BeginForm("RssFeed", "Feed", new { url = Model.Url, page = 1 }))
{
    @Html.DropDownList("SortValue", new List<SelectListItem>
    {
       new SelectListItem{ Text="Newest", Value = "Newest" },
       new SelectListItem{ Text="Oldest", Value = "Oldest" },
       new SelectListItem{ Text="Last week", Value = "Last week" },
       new SelectListItem{ Text="Last month", Value = "Last month" }
    })

    <input type="submit" value="Submit" />
}
<hr />
@foreach (SyndicationItem item in Model.SyndicationItems)
{
    <div>
        <a href="@item.Links[0].Uri.ToString()">
            @item.Title.Text
        </a>
        <ins>@item.PublishDate.ToString("D")</ins>
</div>
    <div>
        <p>
            @item.Summary.Text
        </p>
    </div>
}

<div class="btn-group">
    @PagingHelper.PageLinks(Html, Model.PageInfo, x => Url.Action("RssFeed", new { url = Model.Url, page = x }))
</div>

<style>
    .selected {
        background-color: #0094ff;
    }
</style>
